<fieldset class="page-notification-templates__info">
    <legend>{{ trans('antares/notifications::messages.notification_template_info') }}</legend>

    <div class="page-notification-templates__name">
        <div class="form-block">
            <div class="col-group" v-bind:class="{ error: errors.has('name') }">
                <div class="col-mb-24 col-12 col-dt-6">
                    <label class="form-block__name">{{ trans('antares/notifications::messages.notification_name') }}</label>

                    <div class="input-field">
                        <input type="text" name="name" v-model="notification.name">

                        <div class="page-notification-templates__switch">
                            <label class="form-block__name">{{ trans('antares/notifications::messages.notification_published') }}</label>
                            <label class="switch">
                                <input class="switch-checkbox" name="enabled" type="checkbox" v-model="notification.active">
                                <span class="switch-container"><span class="switch-handle"></span></span>
                            </label>
                        </div>
                    </div>

                    <span class="error nopadding" v-if="errors.has('name')">
                        <p class="help-block error" v-text="errors.get('name')"></p>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-block">
            <div class="col-group">
                <div class="col-mb-24 col-12 col-dt-6">
                    <label class="form-block__name">{{ trans('antares/notifications::messages.notification_type') }}</label>
                    <div class="input-field">
                        <v-select label="title" :options="types" v-model="notification.type"></v-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-block">
            <div class="col-group">
                <div class="col-mb-24 col-12 col-dt-6">
                    <label class="form-block__name">{{ trans('antares/notifications::messages.notification_events_category') }}</label>
                    <div class="input-field">
                        <v-select :options="categories" v-model="category"></v-select>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" v-model="notification.severity">

        <div class="form-block">
            <div class="col-group">
                <div class="col-mb-24 col-12 col-dt-6">
                    <label class="form-block__name">{{ trans('antares/notifications::messages.notification_event') }}</label>
                    <div class="input-field">
                        <v-select label="label" :on-change="eventChanged" :options="activeCategoryEvents" v-model="notification.event" ></v-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-block">
            <div class="col-group">
                <div class="col-mb-24 col-12 col-dt-6">
                    <label class="form-block__name">{{ trans('antares/notifications::messages.notification_recipients') }}</label>
                    <div class="input-field">
                        <v-select multiple label="label" :options.sync="eventRecipients" v-model="notification.recipients"></v-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>