{{ Form.open(form)|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="page-notification-templates">
    <fieldset class="page-notification-templates__info">
        <legend>
            {{ fieldsets[0].legend|raw }}
        </legend>
        <div class="col-group page-notification-templates__name">
            <div class="form-block">
                <div class="col-6">
                    {% set control=fieldsets[1].field('title') %}                
                    {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                </div>
                <div class="col-6">
                    <div class="input-field">
                        {% for fieldset in fieldsets %}            
                            {% if loop.index0>0 %}      
                                {{ fieldset.field('title').getField(row, fieldset.field('title'), [])|raw }}
                            {% endif %}
                        {% endfor %}
                        {% if fieldsets[0].has('active') %}
                            {% set active=fieldsets[0].field('active') %}
                            <div class="page-notification-templates__switch">
                                <label class="form-block__name">Published</label>
                                <label class="switch">
                                    {{ active.getField(row, active, [])|raw }}
                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                </label>
                            </div>
                        {% endif %} 
                    </div>
                </div>
                <span class="error col-dt-14  col-13  col-mb-11 ">
                    {{ errors.first(control.name, format)|raw }}
                </span>
            </div>
        </div>
        {% include 'antares/notifications::admin.partials._form_params' %}    
        <fieldset>
            <div class="page-notification-templates__content">
                <legend>
                    Template Content
                </legend>
                <div class="page-notification-templates__lang">
                    <div class="page-notification-templates__lang-text">
                        Edit template for:
                    </div>
                    <div class="form-block nomargin">
                        <div class="input-field input-field--icon">
                            <span class="input-field__icon"><span class="flag-icon"></span></span>
                            <select class="lang-selector" name="select" data-flag-select data-selectar="true">
                                {% for lang in langs %}                                
                                    <option data-country="{{lang.code=='en'?'us':lang.code}}" value="{{lang.code}}">{{ lang.name|raw }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>                        
            {% for fieldset in fieldsets %}            
                {% if loop.index0>0 %}                
                    {% set control=fieldset.field('content') %}
                    <div rel="{{ control.attributes.attributes.rel }}" class="{{ loop.index0>1?'hidden':'' }}">                        
                        {% include 'antares/notifications::admin.partials._rich' %}
                    </div>
                {% endif %}
            {% endfor %}

        </fieldset>
</div>
<div class="app-content__footer">
    <div class="btn-group">
        {% set customs=fieldsets[0].types('custom') %}
        {% for custom in customs %}
            {{ custom.getField(row, custom, custom.attributes)|raw }}
        {% endfor %}
        {% set buttons=fieldsets[0].types('button') %}
        {% for button in buttons %}
            {{ button.getField(row, button, button.attributes)|raw }}
        {% endfor %}
    </div>
</div>
{{ Form.close()|raw }}