{{ Form.open(form)|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}

<div class="page-notification-templates">
    {% include 'antares/notifications::admin.index._info' %}
    {% include 'antares/notifications::admin.index._content' %}
</div>

<div class="app-content__footer">
    <div class="btn-group">
        {% set customs=fieldsets[0].types('custom') %}
        {% for custom in customs %}
            {{ custom.getField(row, custom, custom.attributes)|raw }}
        {% endfor %}
        {% set buttons=fieldsets[0].types('button') %}
        {% for button in buttons %}
            {{ button.getField(row, button, button.attributes)|raw }}
        {% endfor %}
    </div>
</div>

{% include 'antares/notifications::admin.partials._modal' %}

{{ Form.close()|raw }}