<fieldset class="page-notification-templates__info">
    <legend>
        {{ fieldsets[0].legend|raw }}
    </legend>
    <div class="col-group page-notification-templates__name">
        <div class="form-block">
            <div class="col-6">
                {% set control=fieldsets[1].field('title') %}                
                {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
            </div>
            <div class="col-6">
                <div class="input-field">
                    {{ control.getField(row, control, [])|raw }}
                    {% if fieldsets[0].has('active') %}
                        {% set active=fieldsets[0].field('active') %}
                        <div class="page-notification-templates__switch">
                            <label class="form-block__name">Published</label>
                            <label class="switch">
                                {{ active.getField(row, active, [])|raw }}
                                <span class="switch-container"><span class="switch-handle"></span></span>
                            </label>
                        </div>
                    {% endif %} 
                </div>
            </div>
            <span class="error col-dt-14  col-13  col-mb-11 ">
                {{ errors.first(control.name, format)|raw }}
            </span>
        </div>
    </div>
    {% set control=fieldsets[0].field('type') %}
    {% if     control.attributes.attributes.disabled!='disabled' %}
        <div class="col-group">
            <div class="form-block">
                <div class="col-6">
                    {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                </div>
                <div class="col-6">
                    <div class="input-field">
                        {{ control.getField(row, control, [])|raw }}
                    </div>
                    <span class="error col-dt-14  col-13  col-mb-11 ">
                        {{ errors.first(control.name, format)|raw }}
                    </span>
                </div>
            </div>  
        </div>
    {% endif %}
    {% if fieldsets[0].has('category') %}
        {% set control=fieldsets[0].field('category') %}
        <div class="col-group">
            <div class="form-block w600">
                <div class="col-6">
                    {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                </div>
                <div class="col-6">
                    <div class="input-field">
                        {{ control.getField(row, control, [])|raw }}
                    </div>
                    <span class="error col-dt-14  col-13  col-mb-11 ">
                        {{ errors.first(control.name, format)|raw }}
                    </span>
                </div>
            </div>
        </div>               
    {% endif %}    
</fieldset>
