<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="left-tabs">
        <div class="mdl-tabs__tab-bar">
            <div class="mdl-tabs__left-content">
                <a href="#wyswig-panel" class="mdl-tabs__tab is-active">Wyswig</a>
                <a href="#html-panel" class="mdl-tabs__tab">HTML</a>
                <a href="#php-panel" class="mdl-tabs__tab hidden">PHP</a>
            </div>
            <div class="left-tabs__mobile-drop-down">
                <div class="ddown left-tabs__mmobile-dropdown">
                    <div class="mdl-js-button mdl-js-ripple-effect btn-more ddown__init ddown__init--clean"><i class="zmdi zmdi-more-vert"></i></div>
                    <div class="ddown__content">
                        <div class="ddown__arrow"></div>
                        <ul class="ddown__menu">
                            <li>
                                <a href="#" id="notification-templates-preview"><i class="zmdi zmdi-search mdl-tabs__icon"></i> Preview</a>
                            </li>
                            <li>
                                <a href="#" id="notification-templates-send-email"><i class="zmdi mdl-tabs__icon zmdi-mail-send"></i> Send Test EMail</a>
                            </li>
                            <li>
                                <a href="#" id="notification-templates-variables" class="mdl-tabs--open-variables-panel">
                                    <i class="zmdi mdl-tabs__icon zmdi-code"></i>
                                    Available Variables
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left-tabs__desktop-links">
                <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-search mdl-tabs__icon"></i>
                    <span class="mdl-tabs__text">Preview</span>
                </a>
                <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi mdl-tabs__icon zmdi-mail-send"></i>
                    <span class="mdl-tabs__text">Send Test E-mail</span>
                </a>
                <a href="#" class="mdl-js-button mdl-js-ripple-effect mdl-tabs--open-variables-panel">
                    <i class="zmdi mdl-tabs__icon zmdi-code"></i>
                    <span class="mdl-tabs__text">Available Variables </span>
                </a>
            </div>
        </div>
        <div class="left-tabs__panels">
            <div class="mdl-tabs__panel is-active" id="wyswig-panel">
                {{ control.getField(row, control, [])|raw }}
                <div id="{{ control.id }}_error" class="error">
                    {{ errors.first(control.name, format)|raw }}
                </div>
            </div>
            <div class="mdl-tabs__panel" id="html-panel">
                <fieldset>
                    <textarea name="html-editor" id="html-editor" rows="10" cols="80">
                        {{ control.attributes.value }}
                    </textarea>
                </fieldset>
            </div>
            <div class="mdl-tabs__panel" id="php-panel">
                <fieldset>
                    <textarea name="php-editor" id="php-editor" rows="10" cols="80">

                    </textarea>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="variables-pane">
        <div class="variables-pane__top">
            Available Variables
            <div class="variables-pane__close mdl-tabs--close-variables-panel">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        <div class="variables-pane__inner">
            <div class="variables-pane__top variables-pane__top--mobile">
                Available Variables
                <div class="variables-pane__close mdl-tabs--close-variables-panel">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            <div class="variables-pane__content">
                <div class="variables-pane__instructions-type">
                    <div class="variables-pane__instructions-group">Variables</div>
                    {% for extension, variables_container in variables %}
                        <div id="{{ extension }}" class="variables-pane__instructions-group">{{ extension }}</div>
                        <div class="variables-pane__instructions">
                            {% for value in variables_container %}
                                <div class="variables-pane__row">
                                    <div class="variables-pane__instruction-name">
                                        {{ value.description|default(value.name)|str_humanize }}
                                    </div>
                                    <div class="variables-pane__instruction-content">
                                        <div class="variables-pane__copy-tools">
                                            <i class="zmdi zmdi-copy variables-pane__copy" data-tooltip="true" data-clipboard-target="#{{ extension|lower }}-{{ value['name'] }}"></i>
                                            <div class="tooltip-content">
                                                Copy
                                            </div>
                                            <i class="zmdi zmdi-arrow-right variables-pane__paste insert-instruction" data-tooltip="true"></i>
                                            <div class="tooltip-content">
                                                Insert
                                            </div>
                                        </div>
                                        <pre id="{{ extension|lower }}-{{ value['name'] }}">
                                            {{ extension|lower }}::{{ value['name'] }}
                                        </pre>
                                    </div>
                                </div>
                            {% endfor %}                            
                        </div>

                    {% endfor %}
                    <div class="variables-pane__mobile-button">
                        <a href="#" class="mdl-js-button mdl-js-ripple-effect btn w100p btn--primary btn--s-default mdl-button">Close</a>
                    </div>
                </div>
                <div class="variables-pane__instructions-type">
                    <div class="variables-pane__instructions-group">Instructions</div>
                    <div class="variables-pane__instructions">                        
                        {% for name, instruction in instructions %}
                            <div class="variables-pane__row">
                                <div class="variables-pane__instruction-name">
                                    foreach
                                </div>
                                <div class="variables-pane__instruction-content">
                                    <div class="variables-pane__copy-tools">
                                        <i class="zmdi zmdi-copy variables-pane__copy" data-tooltip="true" data-clipboard-target="#{{ name }}"></i>
                                        <div class="tooltip-content">
                                            Copy
                                        </div>
                                        <i class="zmdi zmdi-arrow-right variables-pane__paste insert-instruction" data-tooltip="true"></i>
                                        <div class="tooltip-content">
                                            Insert
                                        </div>
                                    </div>
                                    <pre id="{{ name }}">
                                        {{ instruction.instruction }}
                                    </pre>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>