<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="left-tabs">
        <div class="mdl-tabs__tab-bar">
            <div class="mdl-tabs__left-content">
                <a href="#wyswig-panel-{{ control.attributes.attributes.rel }}" class="mdl-tabs__tab is-active">Wyswig</a>
                <a href="#html-panel-{{ control.attributes.attributes.rel }}" class="mdl-tabs__tab">HTML</a>
            </div>            
            <div class="left-tabs__mobile-drop-down">
                <div class="ddown left-tabs__mmobile-dropdown">
                    <div class="mdl-js-button mdl-js-ripple-effect btn-more ddown__init ddown__init--clean"><i class="zmdi zmdi-more-vert"></i></div>
                    <div class="ddown__content">
                        <div class="ddown__arrow"></div>
                        <ul class="ddown__menu">
                            {% if can('antares/notifications::notifications-preview') %}
                                <li>
                                    <a data-title="{{ trans('antares/notifications::messages.generating_notification_preview') }}" href="{{ handles('antares::notifications/preview/'~id) }}" class="notification-template-preview">
                                        <i class="zmdi zmdi-search mdl-tabs__icon"></i> 
                                        {{ trans('Preview') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if can('antares/notifications::notifications-test') and type in ['sms','email'] %}
                                <li>
                                    <a href="{{ handles('antares::notifications/sendtest', {'csrf':true}) }}" class="send-test-notification">
                                        <i class="zmdi mdl-tabs__icon zmdi-mail-send"></i> 
                                        Send Test {{ sms ? 'Sms':'E-mail' }}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#" id="notification-templates-variables" class="mdl-tabs--open-variables-panel">
                                    <i class="zmdi mdl-tabs__icon zmdi-code"></i>
                                    Available Variables
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left-tabs__desktop-links">
                {% if can('antares/notifications::notifications-preview') %}
                    <a data-title="{{ trans('antares/notifications::messages.generating_notification_preview') }}" href="{{ handles('antares::notifications/preview/'~id) }}" class="mdl-js-button mdl-js-ripple-effect notification-template-preview">
                        <i class="zmdi zmdi-search mdl-tabs__icon"></i>
                        <span class="mdl-tabs__text">{{ trans('Preview') }}</span>
                    </a>
                {% endif %}
                {% if can('antares/notifications::notifications-test') and type in ['sms','email'] %}
                    <a href="{{ handles('antares::notifications/sendtest', {'csrf':true}) }}" class="mdl-js-button mdl-js-ripple-effect send-test-notification">
                        <i class="zmdi mdl-tabs__icon zmdi-mail-send"></i>
                        <span class="mdl-tabs__text">
                            Send Test {{ sms ? 'Sms':'E-mail' }}
                        </span>
                    </a>
                {% endif %}
                <a href="#" class="mdl-js-button mdl-js-ripple-effect mdl-tabs--open-variables-panel">
                    <i class="zmdi mdl-tabs__icon zmdi-code"></i>
                    <span class="mdl-tabs__text">Available Variables </span>
                </a>
            </div>
        </div>
        <div class="left-tabs__panels">
            <div class="mdl-tabs__panel is-active" id="wyswig-panel-{{ control.attributes.attributes.rel }}">
                {{ control.getField(row, control, [])|raw }}
                <div id="{{ control.id }}_error" class="error">
                    {{ errors.first(control.name, format)|raw }}
                </div>
            </div>
            <div class="mdl-tabs__panel" id="html-panel-{{ control.attributes.attributes.rel }}">
                <fieldset>
                    <textarea rel="{{ control.attributes.name }}" name="html-editor" id="html-editor-{{ control.attributes.attributes.rel }}" rows="10" cols="80">
                        {{ control.attributes.value }}
                    </textarea>
                </fieldset>
            </div>            
        </div>
    </div>
    <div class="variables-pane">
        <div class="variables-pane__top">
            Available Variables
            <div class="variables-pane__close mdl-tabs--close-variables-panel">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        <div class="variables-pane__inner">
            <div class="variables-pane__top variables-pane__top--mobile">
                Available Variables
                <div class="variables-pane__close mdl-tabs--close-variables-panel">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            <div class="variables-pane__content">
                <div class="variables-pane__instructions-type">
                    <div class="variables-pane__instructions-group">Variables</div>
                    {% for extension, variables_container in variables %}
                        <div id="{{ extension }}" class="variables-pane__instructions-group">{{ extension }}</div>
                        <div class="variables-pane__instructions">
                            {% for value in variables_container %}
                                <div class="variables-pane__row">
                                    <div class="variables-pane__instruction-name">
                                        {{ value.description|default(value.name)|str_humanize }}
                                    </div>
                                    <div class="variables-pane__instruction-content">
                                        <div class="variables-pane__copy-tools">
                                            <i class="zmdi zmdi-copy variables-pane__copy" data-tooltip="true" data-clipboard-target="#{{ extension|lower }}-{{ value['name'] }}"></i>
                                            <div class="tooltip-content">
                                                Copy
                                            </div>
                                            <i class="zmdi zmdi-arrow-right variables-pane__paste insert-instruction" data-tooltip="true"></i>
                                            <div class="tooltip-content">
                                                Insert
                                            </div>
                                        </div>
                                        <pre id="{{ extension|lower }}-{{ value['name'] }}">
                                            [[ {{ extension|lower }}::{{ value['name'] }} ]]
                                        </pre>
                                    </div>
                                </div>
                            {% endfor %}                            
                        </div>

                    {% endfor %}
                    <div class="variables-pane__mobile-button">
                        <a href="#" class="mdl-js-button mdl-js-ripple-effect btn w100p btn--primary btn--s-default mdl-button">Close</a>
                    </div>
                </div>
                <div class="variables-pane__instructions-type">
                    <div class="variables-pane__instructions-group">Instructions</div>
                    <div class="variables-pane__instructions">                        
                        {% for name, instruction in instructions %}
                            <div class="variables-pane__row">
                                <div class="variables-pane__instruction-name">
                                    foreach
                                </div>
                                <div class="variables-pane__instruction-content">
                                    <div class="variables-pane__copy-tools">
                                        <i class="zmdi zmdi-copy variables-pane__copy" data-tooltip="true" data-clipboard-target="#{{ name }}"></i>
                                        <div class="tooltip-content">
                                            Copy
                                        </div>
                                        <i class="zmdi zmdi-arrow-right variables-pane__paste insert-instruction" data-tooltip="true"></i>
                                        <div class="tooltip-content">
                                            Insert
                                        </div>
                                    </div>
                                    <pre id="{{ name }}">
                                        {{ instruction.instruction }}
                                    </pre>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>